/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}

.main-title {
    text-align: center;
}
.main-title h1 {
    font-family: 'lato', sans-serif;
}

/* main container */
.main-container {
    width: 80%;
    margin: auto;
    background-color: rgb(247, 224, 220);
    margin-bottom: 100px;
    padding: 55px 0;
    box-shadow: 0px 0px 13px grey;
}

.title {
    text-align: center;
}
.title h2 {
    font-family: 'Lobster', cursive;;
}
.title img {
    width: 47px;
}

.prelude {
    font-family: 'Nunito', sans-serif;
}
.prelude-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 78%;
    margin: auto;
}
.prelude-title .band2 {
    transform: scaleX(-1);
}
.prelude-content {
    width: 88%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.orgue {
    font-family: 'Nunito', sans-serif;
}
.orgue-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: auto;
}

.orgue-title .band2 {
    transform: scaleX(-1);
}
.orgue-content {
    width: 89%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.mouvement {
    font-family: 'Nunito', sans-serif;
}
.mouvement-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 74%;
    margin: auto;
}
.mouvement-content {
    width: 71%;
    margin: auto;
}

.down-title {
    display: flex;
    font-family: 'Lobster', cursive;
    align-items: center;
    justify-content: center;
}
.down-title img {
    width: 30px;
    padding: 10px;
}