/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}

.main-title {
    text-align: center;
}

.main-title h1 {
    font-family: 'lato', sans-serif;
}

/* main container */
.main-container {
    width: 80%;
    margin: auto;
    background-color: rgb(247, 224, 220);
    margin-bottom: 100px;
    padding: 55px 0;
    box-shadow: 0px 0px 13px grey;
}


.title {
    text-align: center;
}

.title h2 {
    font-family: 'Lobster', cursive;
}

.title img {
    width: 47px;
}

.prelude {
    font-family: 'Nunito', sans-serif;
}

.prelude-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82%;
    margin: auto;
}

.prelude img {
    width: 313px;
}

.prelude-title .band2 {
    transform: scaleX(-1);
}

.prelude-content {
    width: 86%;
    display: grid;
    grid-template-columns: 72% 4%;
    justify-content: space-around;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.orgue {
    font-family: 'Nunito', sans-serif;
}

.orgue-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82%;
    margin: auto;
}

.orgue img {
    width: 313px;
}

.orgue-title .band2 {
    transform: scaleX(-1);
}

.orgue-content {
    width: 86%;
    display: grid;
    grid-template-columns: 72% 4%;
    justify-content: space-around;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.mouvement {
    font-family: 'Nunito', sans-serif;
}

.mouvement-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82%;
    margin: auto;
}

.mouvement img {
    width: 313px;
}

.mouvement-content {
    width: 76%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.down-title {
    display: flex;
    font-family: 'Lobster', cursive;
    align-items: center;
    justify-content: center;
}
.down-title img {
    width: 30px;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    .main-title {
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 30px;
    }

    .main-container {
        width: 95%;
    }

    .prelude-title {
        width: 100%;
    }

    .prelude img {
        width: 100px;
    }

    .prelude-content {
        font-size: 17px;
        grid-template-columns: 72% 12%;
    }

    .orgue-title {
        width: 100%;
    }

    .orgue img {
        width: 100px;
    }

    .orgue-content {
        font-size: 17px;
        grid-template-columns: 72% 12%;
    }

    .mouvement-title {
        width: 100%;
    }

    .mouvement img {
        width: 100px;
    }

    .mouvement-content {
        font-size: 17px;
    }
}

@media screen and (max-width: 1024px) {
    .main-container {
        width: 97%;
    }
    
    .prelude-title {
        width: 100%;
    }

    .prelude-content {
        width: 100%;
    }

    .orgue-title {
        width: 100%;
    }

    .orgue-content {
        width: 100%;
    }

    .mouvement-title {
        width: 100%;
    }

    .mouvement-content {
        width: 90%
    }
}