/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}

.main-title {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/* main container */
.main-container {
    width: 80%;
    margin: auto;
    background-color: rgb(253, 255, 253);
    margin-bottom: 100px;
    padding: 55px 0;
    box-shadow: 0px 0px 13px grey;
}

.title {
    text-align: center;
}

.title h2 {
    font-family: 'Rancho', sans-serif;
    font-size: 50px;
    background: -webkit-linear-gradient(360deg, #52A445, #BEFF7F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.esquisse-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 23, 23);
    width: 95%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.esquisse-title h3 {
    position: relative;
    transition: .5s;
} 

.esquisse-title h3::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: #000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.esquisse-title h3:hover:after {
    transform: scaleX(1);
}

.esquisse-title .band2 {
    transform: scaleX(-1);
}

.esquisse-title img {
    width: 313px;
}

.esquisse-content {
    width: 65%;
    display: grid;
    justify-content: center;
    margin: auto;
    color: rgb(23, 23, 23);
    grid-template-columns: 72% 7%;
    font-family: 'Nunito', sans-serif;
}

.oeuvre-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(23, 23, 23);
    align-items: center;
    width: 90%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.oeuvre-title h3 {
    position: relative;
    transition: .5s;
} 

.oeuvre-title h3::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: #000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.oeuvre-title h3:hover:after {
    transform: scaleX(1);
}

.oeuvre-title img {
    width: 313px;
}

.oeuvre-title .band2 {
    transform: scaleX(-1);
}

.oeuvre-content {
    width: 65%;
    display: grid;
    justify-content: center;
    margin: auto;
    color: rgb(23, 23, 23);
    grid-template-columns: 72% 7%;
    font-family: 'Nunito', sans-serif;
}

.sommet-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(23, 23, 23);
    width: 90%;
    margin: auto;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.sommet-title h3 {
    position: relative;
    transition: .5s;
} 

.sommet-title h3::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: #000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.sommet-title h3:hover:after {
    transform: scaleX(1);
}

.sommet-title img {
    width: 313px;
}

.sommet-title .band2 {
    transform: scaleX(-1);
}

.sommet-content {
    width: 65%;
    display: grid;
    justify-content: center;
    margin: auto;
    color: rgb(23, 23, 23);
    grid-template-columns: 72% 7%;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 767px) {
    .main-title {
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 30px;
    }

    .main-container {
        width: 95%;
    }

    .title h2 {
        font-size: 33px;
    }

    .esquisse-title {
        width: 96%;
    }

    .esquisse-title img {
        width: 100px;
    }

    .esquisse-content {
        font-size: 17px;
        grid-template-columns: 73% 7%;    }

    .oeuvre-title {
        width: 96%;
    }

    .oeuvre-title img {
        width: 100px;
    }

    .oeuvre-content {
        font-size: 17px;
        grid-template-columns: 73% 7%;    }

    .sommet-title {
        width: 96%;
    }

    .sommet-title img {
        width: 100px;
    }

    .sommet-content {
        font-size: 17px;
        grid-template-columns: 73% 7%;    }
}

@media screen and (max-width: 1024px) {
    .esquisse-title {
        width: 95%;
    }
    
    .esquisse-content {
        width: 100%;
    }

    .oeuvre-title {
        width: 95%;
    }

    .oeuvre-content {
        width: 100%;
    }

    .sommet-title {
        width: 95%;
    }

    .sommet-content {
        width: 100%;
    }
}