/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}

.main-title {
    text-align: center;
}
.main-title h1 {
    font-family: 'lato', sans-serif;
}

/* main container */
.main-container {
    width: 80%;
    margin: auto;
    background-color: rgb(253, 246, 254);
    margin-bottom: 100px;
    padding: 55px 0;
    box-shadow: 0px 0px 13px grey;
}

.title {
    text-align: center;
}

.title h2 {
    color: rgb(187, 119, 48);
}

.appetit-title {
    width: 71%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(187, 119, 48);
}
.appetit-title img {
    height: 13px;
}
.appetit-title .band2 {
    transform: scaleX(-1);
}
.appetit-content {
    width: 54%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: rgb(187, 119, 48);
}

.plaisir-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(156, 107, 150);
    align-items: center;
    width: 71%;
    margin: auto;
}
.plaisir-title img {
    height: 15px;
}
.plaisir-title .band2 {
    transform: scaleX(-1);
}
.plaisir-content {
    width: 54%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: rgb(156, 107, 150);
}

.gourmandise-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(104, 82, 196);
    align-items: center;
    width: 76%;
    margin: auto;

}
.gourmandise-title img {
    height: 14px;
}
.gourmandise-title .band2 {
    transform: scaleX(-1);
}
.gourmandise-content {
    width: 54%;
    margin: auto;
    color: rgb(104, 82, 196);
}