/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}

.main-title {
    text-align: center;
}

.main-title h1 {
    font-family: 'lato', sans-serif;
}

/* main container */
.main-container {
    width: 80%;
    margin: auto;
    background-color: rgb(253, 246, 254);
    margin-bottom: 100px;
    padding: 55px 0;
    box-shadow: 0px 0px 13px grey;
}

.title {
    text-align: center;
}

.title h2 {
    background: -webkit-linear-gradient(0deg, #cc6410 0% 30%, #a45be9, #905BFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.appetit-title {
    width: 86%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(187, 119, 48);
}

.appetit-title h3 {
    position: relative;
    transition: .5s;
}

.appetit-title h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: rgb(187, 119, 48);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.appetit-title h3:hover:after {
    transform: scaleX(1);
}

.appetit-title img {
    width: 313px;
}

.appetit-title .band2 {
    transform: scaleX(-1);
}

.appetit-content {
    width: 86%;
    display: grid;
    grid-template-columns: 72% 7%;
    margin: auto;
    color: rgb(187, 119, 48);
    justify-content: center;
}

.plaisir-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(156, 107, 150);
    align-items: center;
    width: 86%;
    margin: auto;
}

.plaisir-title h3 {
    position: relative;
    transition: .5s;
}

.plaisir-title h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: rgb(156, 107, 150);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.plaisir-title h3:hover:after {
    transform: scaleX(1);
}

.plaisir-title img {
    width: 313px;
}

.plaisir-title .band2 {
    transform: scaleX(-1);
}

.plaisir-content {
    width: 86%;
    display: grid;
    grid-template-columns: 72% 7%;
    justify-content: center;
    margin: auto;
    color: rgb(156, 107, 150);
}

.gourmandise-title {
    width: 86%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(104, 82, 196);
    align-items: center;
    margin: auto;
}

.gourmandise-title h3 {
    position: relative;
    transition: .5s;
}

.gourmandise-title h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: rgb(104, 82, 196);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.gourmandise-title h3:hover:after {
    transform: scaleX(1);
}

.gourmandise-title img {
    width: 313px;
}

.gourmandise-title .band2 {
    transform: scaleX(-1);
}

.gourmandise-content {
    width: 68%;
    margin: auto;
    color: rgb(104, 82, 196);
}

@media screen and (max-width: 767px) {
    .main-title {
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 30px;
    }

    .main-container {
        width: 95%;
    }

    .appetit-title {
        width: 100%;
    }

    .appetit-title img {
        width: 100px;
    }

    .appetit-content {
        font-size: 17px;
    }

    .plaisir-title {
        width: 100%;
    }

    .plaisir-title img {
        width: 100px;
    }

    .plaisir-content {
        font-size: 17px;
    }

    .gourmandise-title {
        width: 100%;
    }

    .gourmandise-title img {
        width: 100px;
    }

    .gourmandise-content {
        font-size: 17px;
    }
}

@media screen and (max-width: 1024px) {
    .appetit-title {
        width: 100%;
    }

    .appetit-content {
        width: 100%;
    }

    .plaisir-title {
        width: 100%;
    }

    .plaisir-content {
        width: 100%;
    }

    .gourmandise-title {
        width: 100%;
    }

    .gourmandise-content {
        width: 78%;
    }
}