/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}

.main-title {
    text-align: center;
    font-family: 'lato', sans-serif;
}

/* main container */
.main-container {
    width: 80%;
    margin: auto;
    background-color: rgb(237, 239, 239);
    margin-bottom: 100px;
    padding: 55px 0;
    box-shadow: 0px 0px 13px grey;
}

.title {
    text-align: center;
}

.title h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    background: -webkit-linear-gradient(360deg, #0e0eac, #67aef1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.commencer-title {
    width: 86%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 23, 23);
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.commencer-title h3 {
    position: relative;
    transition: .5s;
} 

.commencer-title h3::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: #000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.commencer-title h3:hover:after {
    transform: scaleX(1);
}

.commencer-title .band2 {
    transform: scaleX(-1);
}

.commencer-content {
    width: 86%;
    display: grid;
    margin: auto;
    color: rgb(23, 23, 23);
    grid-template-columns: 72% 7%;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.continuer-title {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 23, 23);
    font-family: 'Nunito', sans-serif;
}

.continuer-title h3 {
    position: relative;
    transition: .5s;
} 

.continuer-title h3::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: #000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.continuer-title h3:hover:after {
    transform: scaleX(1);
}

.continuer-title .band2 {
    transform: scaleX(-1);
}

.continuer-content {
    width: 86%;
    display: grid;
    margin: auto;
    color: rgb(23, 23, 23);
    grid-template-columns: 72% 7%;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.terminer-title {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 23, 23);
    font-family: 'Nunito', sans-serif;
}

.terminer-title h3 {
    position: relative;
    transition: .5s;
} 

.terminer-title h3::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 30px;
    left: 0;
    background: #000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.terminer-title h3:hover:after {
    transform: scaleX(1);
}

.terminer-title .band2 {
    transform: scaleX(-1);
}

.terminer-content {
    width: 86%;
    display: grid;
    margin: auto;
    color: rgb(23, 23, 23);
    justify-content: center;
    grid-template-columns: 72% 7%;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 767px) {
    .main-title {
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 30px;
    }

    .main-container {
        width: 95%;
    }

    .title h2 {
        font-size: 33px;
    }

    .commencer-title {
        width: 96%;
    }

    .commencer-title img {
        width: 100px;
    }

    .commencer-content {
        font-size: 17px;
        grid-template-columns: 85% 7%;
    }

    .continuer-title {
        width: 96%;
    }

    .continuer-title img {
        width: 100px;
    }

    .continuer-content {
        font-size: 17px;
        grid-template-columns: 80% 7%;    
    }

    .terminer-title {
        width: 96%;
    }

    .terminer-title img {
        width: 100px;
    }

    .terminer-content {
        font-size: 17px;
        grid-template-columns: 85% 7%;    }
}

@media screen and (max-width: 1024px) {
    .commencer-title {
        width: 95%;
    }

    .commencer-content {
        width: 100%;
    }

    .continuer-title {
        width: 95%;
    }

    .continuer-content {
        width: 100%;
    }

    .terminer-title {
        width: 95%;
    }

    .terminer-content {
        width: 100%;
    }
}