/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}

.main-title {
    text-align: center;
    font-family: 'lato', sans-serif;
}

/* main container */
.main-container {
    width: 80%;
    margin: auto;
    background-color: rgb(237, 239, 239);
    margin-bottom: 100px;
    padding: 55px 0;
    box-shadow: 0px 0px 13px grey;
}

.title {
    text-align: center;
}

.title h2 {
    color: rgb(28, 99, 229);
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.commencer-title {
    width: 86%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 23, 23);
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.commencer-title .band2 {
    transform: scaleX(-1);
}

.commencer-title img {
    height: 13px;
}

.commencer-content {
    width: 86%;
    display: grid;
    margin: auto;
    color: rgb(23, 23, 23);
    grid-template-columns: 72% 7%;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.continuer-title {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 23, 23);
    font-family: 'Nunito', sans-serif;

}

.continuer-title img {
    height: 13px;
}

.continuer-title .band2 {
    transform: scaleX(-1);
}

.continuer-content {
    width: 86%;
    display: grid;
    margin: auto;
    color: rgb(23, 23, 23);
    grid-template-columns: 72% 7%;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.terminer-title {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 23, 23);
    font-family: 'Nunito', sans-serif;

}

.terminer-title img {
    height: 13px;
}

.terminer-title .band2 {
    transform: scaleX(-1);
}

.terminer-content {
    width: 86%;
    display: grid;
    margin: auto;
    color: rgb(23, 23, 23);
    justify-content: center;
    grid-template-columns: 72% 7%;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 767px) {
    .main-title {
        margin-bottom: 30px;
    }

    .main-title h1 {
        font-size: 30px;
    }

    .main-container {
        width: 95%;
    }

    .title h2 {
        font-size: 33px;
    }

    .commencer-title {
        width: 96%;
    }

    .commencer-title img {
        width: 100px;
        height: 8px;
    }

    .commencer-content {
        font-size: 17px;
        grid-template-columns: 94% 7%;
    }

    .continuer-title {
        width: 96%;
    }

    .continuer-title img {
        width: 100px;
    }

    .continuer-content {
        font-size: 17px;
        grid-template-columns: 94% 7%;
    }

    .terminer-title {
        width: 96%;
    }

    .terminer-title img {
        width: 100px;
    }

    .terminer-content {
        font-size: 17px;
        grid-template-columns: 94% 7%;
    }
}

@media screen and (max-width: 1024px) {
    .commencer-title {
        width: 95%;
    }

    .commencer-title img {
        width: 200px;
    }

    .commencer-content {
        width: 100%;
    }

    .continuer-title {
        width: 95%;
    }

    .continuer-title img {
        width: 200px;
    }

    .continuer-content {
        width: 100%;
    }

    .terminer-title {
        width: 95%;
    }

    .terminer-title img {
        width: 200px;
    }

    .terminer-content {
        width: 100%;
    }
}