/* body */
body {
    margin: 0;
    padding-bottom: 75px;
    min-height: 100vh;
}


/* main container */
#main-container {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 40px;
    margin: auto;
    margin-bottom: 40px;
}

.la-note {
    height: 550px;
    background-color: rgb(247, 224, 220);
    text-align: center;
    box-shadow: 0px 0px 13px grey;
    overflow: hidden;
}

.la-note img {
    width: 45px;
}

.la-note .menu-content a {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.la-note .menu-content h2 {
    font-size: 25px;
    color: #000;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.la-note .menu-content h3 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    color: #000;
}

.la-note .menu-content p span {
    font-size: 27px;
    text-transform: uppercase;
    font-style: italic;   
}

.la-note:hover .menu-content {
    transform: scale(1.2);
    opacity: 0.6;
}

.le-chic {
    height: 550px;
    background-color: rgb(253, 245, 253);
    box-shadow: 0px 0px 13px grey;
    overflow: hidden;
}

.le-chic .menu-content a {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.le-chic h2 {
    font-size: 25px;
}

.le-chic .menu-content h2 {
    color: #000;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #cc6410 0% 30%, #a45be9, #905BFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.le-chic .menu-content h3 {
    color: #cc6410;
    text-align: center;
}

.le-chic p span {
    font-size: 27px;
}

.le-chic:hover .menu-content {
    transform: scale(1.2);
    opacity: 0.6;
}

.le-delice {
    height: 550px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 0px 13px grey;
    overflow: hidden;
}

.le-delice .menu-content a {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.le-delice h2 {
    font-size: 25px;
    background: -webkit-linear-gradient(360deg, #0e0eac, #67aef1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.le-delice p span {
    font-size: 27px;
}

.le-delice .menu-content h2 {
    color: #000;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.le-delice .menu-content h3 {
    text-align: center;
    font-family: 'Kalam', cursive;
    color: #4478cf;
}

.le-delice:hover .menu-content {
    transform: scale(1.2);
    opacity: 0.6;
}

.la-palette {
    height: 550px;
    background-color: rgb(253, 255, 253);
    box-shadow: 0px 0px 13px grey;
    overflow: hidden;
}

.la-palette .menu-content a {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.la-palette .menu-content h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Rancho', cursive;
    font-style: italic;
    background: -webkit-linear-gradient(360deg, #52A445, #BEFF7F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.la-palette .menu-content h3 {
    text-align: center;
    font-family: 'Kalam', cursive;
    color: #05c905;
}

.la-palette .menu-content p span {
    font-size: 27px;
}

.la-palette:hover .menu-content {
    transform: scale(1.2);
    opacity: 0.6;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition: .4s;
}

/* button */

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;    
}

.button a {
    padding: 7px 45px;
    border: none;
    font-size: 25px;
    color: rgb(245, 203, 95);
    background-color: rgb(103, 154, 136);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-family: 'lato', sans-serif;
    font-weight: bold;
}

.dots {
    margin-left: 10px;
}

.dots > div {
    width: 7px;
    height: 7px;
    background-color: rgb(245, 203, 95);
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out forwards;
}

.dots .dot1
{
    animation-delay: -0.30s;
}

.dots .dot2
{
    animation-delay: -0.15s;
}

@keyframes bounce
{
    0%,100%
    {
        transform: scale(0.5);
    }
    50%
    {
        transform: scale(1);
    }
}


/* media query */

@media screen and (max-width: 767px) {
     #main-container {
        width: 90%;
        display: grid;
        grid-template-columns: 100%;
     }
}

@media screen and (max-width: 1024px) {
    #main-container {
        width: 90%;
    }
}